---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=NREL_KEY&fuel_type=ELEC&limit=1&location=5224%20W%2025th%20Ave,%20Denver,%20CO%2080214
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 25 Feb 2024 15:14:37 GMT
      X-Api-Umbrella-Request-Id:
      - cds3ah7nq5gg0rmd99j0
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '995'
      X-Vcap-Request-Id:
      - 1d6e7a3c-3daa-42f2-5f5d-23ec1b2557de
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.75282,"longitude":-105.05387,"location_country":"US","precision":{"value":8,"name":"address","types":["street_address"]},"station_locator_url":"https://afdc.energy.gov/stations/","total_results":268,"station_counts":{"total":704,"fuels":{"BD":{"total":0},"E85":{"total":0},"ELEC":{"total":704,"stations":{"total":268}},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":0},"LPG":{"total":0},"RD":{"total":0}}},"offset":0,"fuel_stations":[{"access_code":"public","access_days_time":"24
        hours daily","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2023-07-01","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":302537,"maximum_vehicle_class":null,"open_date":null,"owner_type_code":"P","restricted_access":null,"status_code":"E","facility_type":null,"station_name":"Edgewater
        Public Market - Tesla Supercharger","station_phone":"877-798-3752","updated_at":"2023-07-14T19:41:28Z","geocode_status":"GPS","latitude":39.748196,"longitude":-105.057777,"city":"Edgewater","country":"US","intersection_directions":null,"plus4":null,"state":"CO","street_address":"5505
        W 20th Ave","zip":"80214","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_has_rng":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["TESLA"],"ev_dc_fast_num":8,"ev_level1_evse_num":null,"ev_level2_evse_num":null,"ev_network":"Tesla","ev_network_web":"https://www.tesla.com/supercharger","ev_other_evse":null,"ev_pricing":null,"ev_renewable_source":null,"ev_workplace_charging":false,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_has_rng":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lpg_nozzle_types":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"rd_blended_with_biodiesel":null,"rd_blends":null,"rd_blends_fr":null,"rd_max_biodiesel_level":null,"nps_unit_name":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"Public","ev_pricing_fr":null,"ev_network_ids":{"station":["29612"]},"distance":0.38087,"distance_km":0.61295}]}'
  recorded_at: Sun, 25 Feb 2024 15:14:37 GMT
recorded_with: VCR 6.2.0
